asyncio
beautifulsoup4
colorama
DateTime
edge-tts
fitz
google
googletrans
geopy
geocoder
gpt4all
gtts
huggingface-hub
joblib
jsons
keyboard
mediapipe
mtranslate
nltk
openai
opencv-python
plyer
pillow
playsound
psutil
pyaudio
pyautogui
pygame
pygetwindow
pyjokes
PyMuPDF
pymsgbox
pystray
pyperclip
PyPDF2
pyqt5
pynotification
pytube
pywhatkit
pywifi
Python-IO
pyttsx3
requests
seaborn
selenium
SpeechRecognition
screen-brightness-control
torch
tiktoken
tokenizers
transformers
urllib3
whisper
winaudio
wikipedia
word2number
wolframalpha
webdriver-manager
youtube-transcript-api
httpx>=0.23.0,<1